* {
    padding: 0;
margin:0;
}
header{
    background-color: burlywood;
    height:80px;
    width:100%;
    position:relative;
    top:0;
    padding: 0;
    margin:0;
    background-repeat:no-repeat;
}
h1{
    color:#662b01;
    position:absolute;
    left:145px;
    top:0;
    line-height: 85px;
    
    background-position: center;
    background-repeat: no-repeat;
    
}
.twoways{
    background-color: #f6e1c7;
    height:25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2em;
}
.p{
    font-size: 18.5px;
    line-height: 1.4em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
}
.dtot{
    display:flex;
    height:50vh;
    background-color: #ede9db;
    padding: 10px;
}
.one{
    width: 50%;
    background-color:#ede9db;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.two{
    width: 50%;
    background-color:#ede9db;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dtot h4{
    text-align: left;
    font-size: 18px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 16.5px;
}
.reminder{
    background-color: #f6e1c7;
    height:30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2em;
    text-align: left;
}
@media (max-width:894px) {
    .dtot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        width: 100%;
        height: auto;
    }
    .dtot div {
        width: 90% !important;
     }
    h1{
        position: static;
        text-align: center;
     }
}
