* {
    padding: 0;
margin:0;
}
header{
    background-color: hsla(189, 68%, 61%, 0.853);
    height:80px;
    width:100%;
    position:relative;
    top:0;
    padding: 0;
    margin:0;
    background-repeat:no-repeat;
}
h1{
    color:beige;
    position:absolute;
    left:145px;
    top:0;
    line-height: 85px;
    
    background-position: center;
    background-repeat: no-repeat;
   
}
main{
    padding: 100px;
    background-color: #f0f1e9 ;
}
.point h2{
    font-family: 'Noto Serif TC', serif;
    font-size: 33px;
    color: #4A2C2A;
  border-bottom: 3px solid #D4A373;
  display: inline-block;
  padding-bottom: 6px;
  margin-bottom: 20px;
  width: 100%; max-width: 685px
}
.twoways h2{
    font-size: 26px;
}
.twoways{
   
    height:25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: left;
    line-height: 2.4em;
    padding-bottom: 5%;
}
.p{
    font-size: 18.5px;
    line-height: 2em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
}
.dtot{
    text-align: left;
    height:60vh;
    padding-bottom: 8%;
}
.one{
    padding-bottom: 6%;
}
.dtot h4{
    text-align: left;
    font-size: 18px;
}
.one{
    height: 40vh;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 23px;
}
h4{
    font-size: 22px;
}
p{
    font-size: 16.5px;
    color: rgba(0, 0, 0, 0.849);
    line-height: 2em;
}
.reminder{
    
    height:30vh;
   
    line-height: 2em;
    text-align: left;
    padding-bottom: 5%;
}

@media (max-width:894px) {
    .dtot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        width: 100%;
        height: auto;
    }
    .dtot div {
        width: 90% !important;
     }
    h1{
        position: static;
        text-align: center;
     }
}

