* {
    padding: 0;
margin:0;
}
body{
    display:block;
}
header {
    background-color: hsla(189, 90%, 46%, 0.95);
    height:80px;
    width:100%;
    position:relative;
    top:0;
    padding: 0;
    margin:0;
    background-repeat:no-repeat;
}

h1{
    color:white;
    position:absolute;
    left:30vh;
    top:0;
    line-height: 85px;
    width: 210px;
    background-position: center;
    background-repeat: no-repeat;
}
h2{
    position:absolute;
    left:650px;
    top:25px;
    background-position: center;
    color:white;
    background-repeat: no-repeat;
}

.news{
    background-color: white;
    border-radius: 30px;
    height:30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:80px 80px 40px;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2em;
}
h4{
    font-size: 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2em;
}
p{
    font-size: 18px;
    line-height: 1.4em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

p{
    font-size: 18px;
    line-height: 1.4em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.goals{
    background-color:white;
    color:black;
    height:30vh;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px 80px ;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2em;
}
.teeth{
    background-color:white;
    color:black;
    height:30vh;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px 80px ;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2em;
}
h4{
    font-size: 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2em;
    
}


.topic{
    display:flex;
    background-color:#f0f1e9 ;
    justify-content:space-between;
    align-items: center;
    padding: 140px 180px 10px;
    background-repeat: no-repeat;
}
.topic div{
    width:300px;
    text-align:center;
}
.topic img{
    width:100% ;
    border-radius: 10px;
}
.topic h3{
    font-size: 20px;
    margin:20px 0;
}
main a{
    color: black;
    text-decoration: none;
}
main a:hover{
    text-decoration: underline;
}
h5{
    font-size: 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2em;
    margin:40px 0px 0px;
}
.docs a{
    color:black;
    text-decoration: none;
    border: 1px solid #ACACAC;
    padding:10px 20px;
    border-radius: 5px;
}
main{
    background-color:#f0f1e9
}
footer{
    background-color:#f0f1e9;
}
/* 響應式設計語法 */
@media screen and(max-width:768px){
    header h2{
        display:block;
    }
    header h1{
        left:50%;
        transform: translateX(-50%);
    }
}
